<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KiotViet - Main Header</title>
  <link rel="icon" type="image/x-icon" href="./assets/img/favicon.png" />
  <link rel="icon" href="./assets/img/favicon.png" fetchpriority="high" />
  <script src="https://kit.fontawesome.com/272317828a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body>
  <!-- main header -->
  <header id="mainHeader">
    <div class="container">
      <!-- section header top -->
      <section class="kv-header-top">
        <div class="kv-header-logo">
          <a href="main_header.html" class="home-page">
            <img src="./assets/img/KiotViet-Logo-Horizontal.svg" alt="KiotViet" class="kv-logo"
              title="KiotViet" />
          </a>
        </div>
        <div class="kv-navbar kv-navbar-top">
          <ul class="kv-navbar-items">
            <li class="kv-navbar-item">
              <img src="./assets/img/kship.svg" alt="kship-onboard" class="kship-onboard" />
              <p class="kv-navbar-item-content">Giao hàng</p>
              <i class="kv-navbar-item-icon fas fa-solid fa-circle"></i>
            </li>
            <li class="kv-navbar-item">
              <i class="kv-navbar-item-icon fas fa-solid fa-sack-dollar"></i>
              <p class="kv-navbar-item-content">Vay vốn</p>
              <i class="kv-navbar-item-icon fas fa-solid fa-circle"></i>
            </li>
            <li class="kv-navbar-item">
              <img src="./assets/img/logo-connect.svg" alt="kship-onboard" class="kship-onboard" />
              <p class="kv-navbar-item-content">Nguồn hàng giá tốt</p>
              <i class="kv-navbar-item-icon fas fa-solid fa-circle"></i>
            </li>
            <li class="kv-navbar-item">
              <i class="kv-navbar-item-icon fas fa-solid fa-palette"></i>
              <p class="kv-navbar-item-content">Chủ đề</p>
              <ul class="kv-dropdown-list">
                <div class="theme-colors">
                  <div class="box-color-df">
                    <a class="icon-box-color-df fas fa-solid fa-check"></a>
                  </div>
                  <div class="box-color1">
                    <a class="icon-box-color1 fas fa-solid fa-check"></a>
                  </div>
                  <div class="box-color2">
                    <a class="icon-box-color2 fas fa-solid fa-check"></a>
                  </div>
                  <div class="box-color3">
                    <a class="icon-box-color3 fas fa-solid fa-check"></a>
                  </div>
                  <div class="box-color4">
                    <a class="icon-box-color4 fas fa-solid fa-check"></a>
                  </div>
                  <div class="box-color5">
                    <a class="icon-box-color5 fas fa-solid fa-check"></a>
                  </div>
                  <div class="box-color6">
                    <a class="icon-box-color6 fas fa-solid fa-check"></a>
                  </div>
                  <div class="box-color7">
                    <a class="icon-box-color7 fas fa-solid fa-check"></a>
                  </div>
                  <div class="box-color8">
                    <a class="icon-box-color8 fas fa-solid fa-check"></a>
                  </div>
                </div>
              </ul>
            </li>
            <li class="kv-navbar-item">
              <i class="kv-navbar-item-icon fas fa-solid fa-comment-dots"></i>
              <p class="kv-navbar-item-content">Hỗ trợ</p>
              <ul class="kv-dropdown-list">
                <li>
                  <a class="kv-dropdown-link" href="https://kiotviet.vn/ho-tro/?type=retailer"><i
                      class="fas fa-solid fa-info-circle icon-item"></i><span class="binding">Hướng dẫn sử
                      dụng</span></a>
                </li>
                <li>
                  <a class="kv-dropdown-link" title="Tải TeamViewer"
                    href="https://get.teamviewer.com/kiotviet18006162 "><img class="icon-item"
                      src="./assets/img/teamview.svg" alt="Alternate Text" /><span class="binding">Tải
                      TeamViewer</span></a>
                </li>
                <li>
                  <a class="kv-dropdown-link" target="_self" title="Tải UltraViewer"
                    href="https://ultraviewer.net/vi/UltraViewer_setup_6.2_vi.exe "><img class="icon-item"
                      src="./assets/img/ultra.svg" alt="Alternate Text" /><span class="binding">Tải
                      UltraViewer</span></a>
                </li>
                <li>
                  <a class="kv-dropdown-link" target="_self" title="Tải AnyDesk"
                    href="https://download.anydesk.com/AnyDesk.exe "><img class="icon-item"
                      src="./assets/img/any.svg" alt="Alternate Text" /><span class="binding">Tải
                      AnyDesk</span></a>
                </li>
              </ul>
            </li>
            <li class="kv-navbar-item">
              <i class="kv-navbar-item-icon fa-regular fa-message"></i>
              <p class="kv-navbar-item-content">Góp ý</p>
            </li>
            <li class="kv-navbar-item envelope-gear">
              <i class="kv-navbar-item-icon fa-regular fa-envelope"></i>
            </li>
            <li class="kv-navbar-item envelope-gear">
              <i class="kv-navbar-item-icon fas fa-solid fa-gear"></i>
              <ul class="kv-dropdown-list">
                <li class="scope">
                  <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-wrench icon-item"></i><span
                      class="binding">Thiết lập cửa hàng</span></a>
                </li>
                <li class="scope">
                  <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-print icon-item"></i><span
                      class="binding">Quản lý mẫu in</span></a>
                </li>
                <li class="scope">
                  <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-user-pen icon-item"></i><span
                      class="binding">Quản lý người dùng</span></a>
                </li>
                <li class="scope">
                  <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-location-dot icon-item"></i><span
                      class="binding">Quản lý chi nhánh</span></a>
                </li>
                <li class="scope">
                  <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-history icon-item"></i><span
                      class="binding">Lịch sử thao tác</span></a>
                </li>
                <li class="scope">
                  <a class="kv-dropdown-link"><i class="fa-fw far fa-trash-alt icon-item"></i><span class="binding">Xóa
                      dữ liệu dùng thử</span></a>
                </li>
              </ul>
            </li>
            <li class="kv-navbar-item">
              <p class="account-number">12345678912</p>
              <i class="kv-navbar-item-icon fas fa-solid fa-user-circle"></i>
              <ul class="kv-dropdown-list">
                <li class="show-mobile">
                  <a class="kv-dropdown-link" ng-click="EditProfile()"><i
                      class="far fa-user-circle fa-fw icon-item"></i><span class="binding">Tài khoản</span></a>
                </li>
                <li class="show-mobile">
                  <a class="kv-dropdown-link"><i class="fas fa-solid fa-briefcase fa-fw icon-item"></i><span
                      class="binding">Hồ sơ gian hàng</span></a>
                </li>
                <li class="show-mobile">
                  <a class="kv-dropdown-link" ng-click="logout()"><i
                      class="fas fa-arrow-right-from-bracket fa-fw icon-item"></i><span class="binding">Đăng
                      xuất</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <!-- section navbar main -->
    <section class="kv-navbar kv-navbar-main">
      <div class="container kv-navbar-container">
        <ul class="kv-navbar-items">
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-eye"></i>
            <p class="kv-navbar-item-content">Tổng quan</p>
          </li>
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-cube"></i>
            <p class="kv-navbar-item-content">Hàng hóa</p>
            <ul class="kv-dropdown-list scope">
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-table-list icon-item"></i><span
                    class="binding">Danh mục</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-tags icon-item"></i><span
                    class="binding">Thiết lập giá</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-clipboard-check icon-item"></i><span
                    class="binding">Kiểm kho</span></a>
              </li>
            </ul>
          </li>
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-exchange"></i>
            <p class="kv-navbar-item-content">Giao dịch</p>
            <ul class="kv-dropdown-list scope">
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-inbox icon-item"></i><span class="binding">Đặt
                    hàng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-file-invoice-dollar icon-item"></i><span
                    class="binding">Hóa đơn</span>
                </a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-file-edit icon-item"></i><span class="binding">Vận
                    đơn</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fa fa-reply-all icon-item"></i><span class="binding">Trả
                    hàng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-cart-flatbed icon-item"></i><span
                    class="binding">Nhập hàng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-inbox icon-item"></i><span
                    class="binding">Trả hàng nhập</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-hand-holding-dollar icon-item"></i><span
                    class="binding">Xuất hủy</span></a>
              </li>
            </ul>
          </li>
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-user-tie"></i>
            <p class="kv-navbar-item-content">Đối tác</p>
            <ul class="kv-dropdown-list scope">
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-user-alt icon-item"></i><span class="binding">Khách
                    hàng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-users-line icon-item"></i><span class="binding">Nhà
                    cung cấp</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-people-carry-box icon-item"></i><span
                    class="binding">Đối tác giao hàng</span></a>
              </li>
            </ul>
          </li>
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-user-group"></i>
            <p class="kv-navbar-item-content">Nhân viên</p>
            <ul class="kv-dropdown-list scope">
              <li class="scope">
                <a class="kv-dropdown-link" id="showEmployeeLink" href="employee.html">
                  <i class="fa-fw fas fa-user-friends icon-item"></i>
                  <span class="binding">Nhân viên</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-calendar-alt icon-item"></i><span
                    class="binding">Chấm công</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-coins icon-item"></i><span class="binding">Bảng tính
                    lương</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-sack-dollar icon-item"></i><span class="binding">Bảng
                    hoa hồng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fa fa-cog icon-item"></i><span class="binding">Thiết lập
                    chung</span></a>
              </li>
            </ul>
          </li>
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-circle-dollar-to-slot"></i>
            <p class="kv-navbar-item-content">Sổ quỹ</p>
          </li>
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-chart-simple"></i>
            <p class="kv-navbar-item-content">Báo cáo</p>
            <ul class="kv-dropdown-list scope">
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-chart-pie icon-item"></i><span class="binding">Cuối
                    ngày</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-paste icon-item"></i><span class="binding">Bán
                    hàng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-inbox icon-item"></i><span class="binding">Đặt
                    hàng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fa fa-cube icon-item"></i><span class="binding">Hàng
                    hóa</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-user-alt icon-item"></i><span class="binding">Khách
                    hàng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-users-line icon-item"></i><span
                    class="binding">Nhà cung cấp</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link report_popup"><i class="fa-fw fas fa-id-badge icon-item"></i><span
                    class="binding">Nhân viên</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link report_popup"><i class="fa-fw fab fa-slideshare icon-item"></i><span
                    class="binding">Kênh bán hàng</span></a>
              </li>
              <li class="scope">
                <a class="kv-dropdown-link"><i class="fa-fw fas fa-solid fa-chart-line icon-item"></i><span
                    class="binding">Tài chính</span></a>
              </li>
            </ul>
          </li>
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-cart-shopping"></i>
            <p class="account-number">Bán Online</p>
            <ul class="kv-dropdown-list scope">
              <li>
                <a class="kv-dropdown-link scope" target="_blank"><i
                    class="fab fa-facebook-messenger icon-item"></i><span class="binding">Bán hàng Facebook</span></a>
              </li>

              <li>
                <a class="kv-dropdown-link kol-menu-item scope"><i class="fa-solid fa-bag-shopping icon-item"></i><span
                    class="binding">Bán hàng trên sàn TMĐT</span></a>
              </li>

              <li class="scope">
                <a class="kv-dropdown-link"><i class="fas fa-solid fa-window-maximize icon-item"></i><span
                    class="binding">Website bán hàng</span></a>
              </li>
            </ul>
          </li>
          <li class="kv-navbar-item">
            <i class="kv-navbar-item-icon fas fa-solid fa-basket-shopping"></i>
            <p class="account-number">Bán hàng</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- support bottom -->
    <div class="support-bottom">
      <a id="toTop" rel="nofollow" title="Lên đầu trang"><i class="fa fa-angle-up"></i></a>
      <script src="./assets/js/to_top.js"></script>

      <!-- support button -->
      <div id="supportButton">
        <i class="support-button fas fa-solid fa-comment-dots"></i>
        <p class="kv-navbar-item-content">Hỗ trợ</p>
        <span>1900 6522</span>
      </div>
    </div>
  </header>

</body>

</html>